BACKEND_BIND_ADDRESS=127.0.0.1
COMPOSE_PROFILES=

POSTGRES_USER=tracker
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_DB=internship_tracker

DATABASE_URL=postgresql+psycopg://tracker:replace_with_local_password@localhost:5432/internship_tracker
TEST_DATABASE_URL=postgresql+psycopg://tracker:replace_with_local_password@localhost:5433/internship_tracker_test
